@import "~bootstrap/scss/bootstrap";
@import "./scss/variables.scss";
@import './scss/base.scss';

body {
  margin-bottom: 100px;
}

.label {
  margin-top: 50px;
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 300;
}
svg{
  width:100%;
}
path{
  fill: #dde1e6;
  cursor: pointer;
}

.wrapper {
  width: 240px;
  height: 48px;
  position: absolute;
  margin-bottom: 60px;
}
/*Базовая обертка*/
.droplink {
  hr {
    background-color: $silver;
    margin: 9px 12px 0 12px;
    padding: 0;
    height: 1px;
    border: 0;
  }
  .gamburger {
    margin-right: 12px;
  }

}
/*Сбросим отступы*/
.droplink ul {
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.04), 0 8px 20px 0 rgba(0, 0, 0, 0.06);
  }
/*стиль кнопки*/
.dropdown-button {
  width: 100%;
  border-radius: 4px;
  background-color: $yourHighness;
  box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.04), 0 8px 20px 0 rgba(0, 0, 0, 0.06);
  display:inline-block;
  color:$ink !important;
  font-size:14px;
  padding-top:10px;
  padding-left: 12px;
  padding-bottom: 10px;
  text-decoration:none;
  cursor: pointer
}
/*кнопка при наведении*/
.dropdown-button:hover {
  //background-color: $yourHighness;
}
/*активное состояние кнопки*/
//.socialbutton:active{position:relative;top:1px}
.droplink li{
  background-color: $white;
  display:block
}
/*Стиль элемента списка*/
.droplink li a{
  padding-top: 10px;
  padding-bottom: 1px;
  padding-left: 12px;
  display:block;
  color:$ink;
  text-decoration: none;
  font-size:14px;
  line-height: 1.43;
}
/*Стиль элемента при наведении*/
.droplink li a:hover {
  border-radius: 4px;
  background-color: $yourHighness;
  hr {
    background-color: $yourHighness;
  }
}
/*Подпись к регионам*/
.caption {
  box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.04), 0 8px 20px 0 rgba(0, 0, 0, 0.06);
  padding-top: 25px;
  padding-bottom: 22px;
  font-size: 14px;
  width: 250px;
  height: 70px;
  background-image: url(img/icons/Caption.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}


.heyo:hover{
  fill: #CC2929;
}
.enabled{
  fill: #21669E;
  cursor: pointer;
}
.description {
  box-shadow: 0 2px 4px 0 rgba(0, 7, 123, 0.04), 0 8px 20px 0 rgba(0, 0, 0, 0.06);
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  line-height: 30px;
  color: black;
  border-radius: 5px;
  display: none;
  &.active {
    display: block;
  }
  &:after {
    content: '';
    position: absolute;
  }
}
